.page-openlayers {
    position:absolute;
    display: flex;
    padding-top: 10px;
    overflow: hidden;
}
.page-openlayers canvas {
    /* width: 100%; */
    border: solid 1px;
}
.page-openlayers .right {
    margin-left: 10px;
}
.page-openlayers #openlayers {
    width: 800px;
    height: 800px;
    border: solid 1px;
}