.box {
    display: flex
}
.box .left {
    width: 200px;
}
.box .left button {
   margin: 2px;
}
.box .right {
    width: auto;
    position: relative;
    width: 800px;
    height: 600px;
}
.box .right p {
   text-align: center;
}
.box .right canvas {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: crosshair;
 }